/* 
    Created on : Sep 10, 2018, 1:11:47 PM
    Author     : wonderkide
*/

#player{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.flowplayer .fp-playlist{
    display:none;
}

.video-wrapper{
    position:relative;
    width:100%;
    overflow:hidden;
}
.video-slider-block{
    height:120px;
    width:100%;
    overflow:hidden;
    margin: 0 auto;
}
.video-slider-block .video-item{
    position:relative;
    width:200px;
    height:120px;
    float:left;
    background:#000;
}
.video-slider-block .video-item .video-frame{
    position:absolute;
    width:200px;
    height:120px;
    background: url(../img/video_frame.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.video-slider-block .video-item img{
    width:100%;
    height:100%;
}
.video-slider-block .video-item img.video-thumbnail{
    width:auto;
    height:100%;
    margin:0 auto;
}
.video-slider-block .video-item .play-icon{
    position:absolute;
    width:50px;
    top:28%;
    left:38%;
    display:none;
}
.vertical-video .video-slider-block{
    height:100%;
    width:100%;
}
.vertical-video .video-slider-block .video-item{
    width:100%;
    height:90px;
    float:none;
    margin-bottom:13px;
}
.vertical-video .video-slider-block .video-item .video-frame{
    width:100%;
    height:90px;
}
.vertical-video .video-slider-block .video-item .play-icon{
    width:50px;
    top:21%;
    left:35%;
    display:none;
}
#button-slider-top{
    position: absolute;
    top: 1%;
    left: 41.5%;
    width: 31px;
    height: 13px;
    cursor: pointer;
    background: url('../img/button_hover_slider_hz.png') 0px 0px no-repeat;
}
#button-slider-bottom{
    position: absolute;
    left: 41.5%;
    bottom: 1%;
    width: 31px;
    height: 13px;
    cursor: pointer;
    background: url('../img/button_hover_slider_hz.png') -31px 0px no-repeat;
}
#button-slider-left{
    position: absolute;
    top: 35%;
    left: 2%;
    width: 13px;
    height: 31px;
    cursor: pointer;
    background: url('../img/button_hover_slider.png') 0px -31px no-repeat;
}
#button-slider-right{
    position: absolute;
    right: 1%;
    top: 35%;
    width: 13px;
    height: 31px;
    cursor: pointer;
    background: url('../img/button_hover_slider.png') 0px 0px no-repeat;
}
.video-wrapper .scroll-bar {
    height: 10px;
    border: 0px;
    background: #c3c3c3;
    margin-top:5px;
    margin-bottom:5px;
}
.scroll-bar .ui-slider-handle {
    background: #DE5E60;
    border: 0;
}
.flowplayer {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center top;
}
@media (max-width: 767px){
    .video-slider-block{
        height:75px;
        width:100%;
    }
    .video-slider-block .video-item{
        width:100px;
        height:75px;
    }
    .video-slider-block .video-item .video-frame{
        width:100px;
        height:75px;
    }
    .video-slider-block .video-item .play-icon{
        width:30px;
        top:30%;
        left:35%;
    }
    #button-slider-left, #button-slider-right{
        top: 25%;
    }
}